MONGO_URI=mongodb+srv://rawatayushwork_db_user:ayushrawat123@task-manager-cluster.tfgu1cr.mongodb.net/?appName=task-manager-cluster
DATABASE_NAME=team_task_manager
SECRET_KEY=22da63ab739e48d9bb620660fd992cf1572be5afc1f6631b3630402adc2d0d84
CORS_ORIGINS=http://localhost:5173
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
